[Desktop Entry]
Name=Services
Comment=Manage System Services
Exec=systemadm
Icon=applications-system
Terminal=false
Type=Application
Categories=System
